<div class="ok-confirm-stamina">
  <h3>{{itemName}}</h3>
  <p>{{localize "OKNAJAN.dialogs.confirmStamina.prompt"}}</p>
  <dl class="ok-confirm-details">
    <dt>{{localize "OKNAJAN.dialogs.confirmStamina.cost"}}</dt>
    <dd><strong>{{cost}}</strong></dd>
    <dt>{{localize "OKNAJAN.dialogs.confirmStamina.current"}}</dt>
    <dd><strong>{{stamina.value}} / {{stamina.max}}</strong></dd>
  </dl>
</div>
