<div class="ok-stamina-meter meter" data-low="{{stamina.isLow}}">
  <div class="ok-stamina-meter-track">
    <div class="ok-stamina-meter-fill" style="width: {{stamina.percent}}%;"></div>
  </div>
  <span class="ok-stamina-meter-label">
    {{localize "OKNAJAN.cards.stamina"}} {{stamina.value}} / {{stamina.max}}
  </span>
</div>
